html,
body {
    height: 100%;
    margin: 0;
}

.lang-selection {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;

    .lang-selection-wrapper {
        padding: 0 25px;
        margin: 0 0 50px;
        text-align: center;

        h1 {
            margin-bottom: 25px;
            font-size: 1.5em;
        }
    }

    .lang-btn-wrapper {
        display: flex;
        justify-content: space-around;
        max-width: 420px;
        margin: 0 auto;

        > button {
            min-width: 175px;
            height: 70px;
            font-size: 18px;
            font-weight: 500;
            padding: 0 1em;
            line-height: 70px;

            &#hindi-btn {
                font-family: 'Noto Sans Devanagari', sans-serif;
                letter-spacing: 0;
                font-size: 22px;
            }
        }
    }
}

/* Accordion Style */
.accordion {
    &-header {
        margin: 0 0 25px;
        font-size: 40px;
        font-weight: 600;
        color: $acc-dark;
        text-align: center;

        @media screen and (max-width: 768px) {
            font-size: 28px;
        }
    }

    &-items {
        position: relative;
        border-radius: 10px;

        &:after {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            opacity: 0.1;
            border-radius: 10px;
            pointer-events: none;
            border: 1px solid $black;
        }
    }

    &-item {
        position: relative;
        margin: 0;
        padding: 0;
        color: $black;
        cursor: pointer;
        overflow: hidden;
        box-shadow: none;
        transition: all 0.3s ease;

        &:before,
        &:after {
            opacity: 0.1;
            background-color: $black;
        }

        &-que {
            position: relative;
            padding: 24px;
            margin: 0;
            font-size: 18px;
            font-weight: 500;
            line-height: 26px;
            transition: all 0.3s ease;

            &-text {
                padding-right: 50px;
            }

            &-icon {
                position: absolute;
                height: 16px;
                width: 16px;
                top: 50%;
                right: 24px;
                margin-top: -8px;
                opacity: 0.3;
                border: none;
                cursor: pointer;
                transition: 0.2s;
                background: transparent;
                outline: none;

                &:before,
                &:after {
                    content: '';
                    display: block;
                    position: absolute;
                    top: 7px;
                    width: 16px;
                    height: 2px;
                    border-radius: 4px;
                    background: currentColor;
                }

                &:after {
                    transform: rotate(90deg);
                }
            }

            &:hover .accordion-item-que-icon {
                opacity: 0.8;
            }
        }

        &-ans {
            position: relative;
            padding: 0 25px;
            height: 0;
            font-size: 16px;
            font-weight: 400;
            line-height: 28px;
            overflow: hidden;
            cursor: auto;
            pointer-events: none;
            transition: 0.2s all ease;
            box-sizing: content-box !important;

            &-text {
                position: relative;
                top: -10px;
                opacity: 0;
                transition:
                    top 0.3s ease 0.3s,
                    opacity 0.3s ease 0.3s;
            }

            ul {
                margin: 0;

                li {
                    margin-top: 20px;
                }
            }

            p {
                &:first-child {
                    margin-top: 0;
                }

                &:last-child {
                    margin-bottom: 0;
                }

                b,
                strong {
                    color: $black;
                }
            }
        }

        &:first-child {
            border-radius: 10px 10px 0 0;
        }

        &:last-child {
            border-radius: 0 0 10px 10px;
        }

        &:only-child {
            border-radius: 10px;
        }

        &-active &:after {
            content: '';
            height: 1px;
            left: 0;
            top: 0;
            right: 0;
            position: absolute;
            opacity: 0.1;
            pointer-events: none;
        }

        &-hide:after {
            border: none;
        }

        &:not(:last-child):after {
            content: '';
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 1px;
            left: 0;
        }
    }

    &:not(.accordion-item-active) {
        .accordion-item-que {
            color: $white;
            background-color: $acc-light;
        }
    }

    .accordion-item-active {
        .accordion-item-que {
            color: $white;
            background-color: $acc-dark;
        }

        .accordion-item-que-icon {
            transform: rotate(45deg);
        }

        .accordion-item-ans {
            pointer-events: initial;
            padding: 25px;
        }

        .accordion-item-ans-text {
            opacity: 1;
            top: 0;
            transition:
                top 0.3s ease 0.2s,
                opacity 0.3s ease 0.2s;
        }
    }
}

.effective-date {
    margin: 0 0 75px;
    text-align: right;
}

.faq-accordion {
    padding: 100px;
    background-color: _palette(fg-bold);

    @media screen and (max-width: 1024px) {
        padding: 100px 50px;
    }

    @media screen and (max-width: 768px) {
        padding: 100px 25px;
    }

    .accordion-container {
        width: 100%;
        max-width: 1000px;
        margin: 0 auto;
    }
}

.full-page-accordion {
    margin-bottom: 75px;

    .accordion {
        &-header {
            margin: 75px 0 25px;
            font-size: 28px;
            font-weight: 500;
            color: $white;
            text-align: left;

            @media screen and (max-width: 540px) {
                font-size: 24px;
            }
        }

        &-items {
            &::after {
                border: 1px solid $white;
            }
        }

        &-item {
            color: $white;
        }

        &:not(.accordion-item-active) {
            .accordion-item-que {
                color: $acc-dark;
                background-color: $white;
            }
        }

        &-item-active {
            .accordion-item-que {
                color: $black !important;
            }
        }

        &-item-ans {
            p {
                b,
                strong {
                    color: $white;
                }
            }
        }
    }
}

/* Card Themes - Start */
.basic {
    .pricing-header {
        background-color: $primary;
    }

    .price-circle {
        border: 10px solid $primary;
        transition: all 0.4s;
    }

    &:hover {
        .price-circle {
            border-width: 5px;
        }
    }

    .buy-now {
        background-image: none !important;
        background-color: $primary !important;
        box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.4);
    }
}

.echo {
    .pricing-header {
        background-color: $echo;
    }

    .price-circle {
        border: 10px solid $echo;
        transition: all 0.4s;
    }

    &:hover {
        .price-circle {
            border-width: 5px;
        }
    }

    .buy-now {
        background-image: none !important;
        background-color: $echo !important;
        box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.4);
    }
}

.pro {
    .pricing-header {
        background-color: $pro;
    }

    .price-circle {
        border: 10px solid $pro;
        transition: all 0.4s;
    }

    &:hover {
        .price-circle {
            border-width: 5px;
        }
    }

    .buy-now {
        background-image: none !important;
        background-color: $pro !important;
        box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.4);
    }
}

.container {
    height: auto;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.pricing-section {
    .column {
        flex: 25%;
        padding: 10px;
        width: calc(33.3% - 30px);
        box-sizing: border-box;

        @media screen and (max-width: 1024px) {
            flex: 50%;
            display: block;
        }

        @media screen and (max-width: 768px) {
            flex: 100%;
            display: block;
            padding: 15px 10px;
        }
    }

    .pricing-card {
        height: 100%;
        background-color: $white;
        -moz-border-radius: $radius;
        -webkit-border-radius: $radius;
        border-radius: $radius;
        position: relative;
        transition: all 0.4s;

        &:hover {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
            transform: scale(1.05);
        }

        .popular {
            position: absolute;
            top: 0;
            right: 5%;
            width: auto;
            padding: 10px;
            border-bottom-left-radius: $radius;
            border-bottom-right-radius: $radius;
            background-color: #eb3b5a;
            color: $white;
            font-size: 12px;
            z-index: 1;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        }

        .pricing-header {
            width: 100%;
            height: 150px;
            position: relative;
            border-radius: $radius $radius 0 0;
            -webkit-border-radius: $radius $radius 0 0;
            -moz-border-radius: $radius $radius 0 0;

            .plan-title {
                font-size: 24px;
                color: $white;
                position: relative;
                top: 25%;
            }

            .price-circle {
                width: calc(33.3% - 30px);
                width: 135px;
                height: 135px;
                border-radius: 100%;
                left: calc(50% - 60px);
                top: 60%;
                background-color: $black;
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;
                //box-shadow: 1px 3px 5px rgba(0, 0, 0, .4);
                .info {
                    display: none;
                    font-size: 12px;
                    font-weight: 600;
                    color: gray;
                }

                .price-title {
                    display: block;
                    font-size: 36px;
                    padding: 0;
                    font-weight: 600;
                    small {
                        font-size: 18px;
                    }
                }
            }

            h2 {
                position: relative;
                top: 40%;
                color: $white;
            }
        }

        ul {
            margin: 80px 0 0;
            padding: 0;

            li {
                list-style-type: none;
                display: block;
                padding: 15px 0 15px 0;
                margin: 0;
                border-bottom: 1px solid #f2f2f2;
                font-size: 0.75em;
                color: $black;

                strong {
                    color: $black;
                }

                @media screen and (max-width: 768px) {
                    font-size: 1em;
                }
            }
        }

        .buy-button-box {
            margin: 30px;
        }
    }
}

.outro {
    text-align: center;
}

.designed-by {
    position: relative;
    display: inline-block;
    margin-left: 10px;
    font-size: 24px;
    border: none;

    &:hover {
        color: #eb3b5a;
    }
}

.center {
    display: flex;
    width: 100%;
    text-align: center;
    justify-content: center;
}

#footer {
    .menu {
        @extend .center;
        align-items: center;

        li {
            display: flex;
            align-items: center;
        }

        @media screen and (max-width: 580px) {
            flex-wrap: wrap;

            li {
                width: 100%;
                border-left: 0;
                line-height: inherit;
                margin: 0.5em 0 0 0;
                padding-left: 0;
            }
        }
    }

    #copyright-year {
        display: inline-block;
        margin: 0 5px;

        @media screen and (max-width: 580px) {
            margin: 0;
        }
    }

    .brand {
        display: inline-block;
        margin-right: 10px;
    }
}

.hindi {
    .accordion-item-que {
        font-size: 20px;
    }

    .accordion-item-ans {
        font-size: 18px;
        line-height: 1.75;
    }
}
